.container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 1%;
    padding: 10 px;

}
div {
    align-items: center;
}
@media (max-width: 600px) {
    .container div{
        grid-column: 1 / span 3;
    }
}
